.service-container {
    background-color: aliceblue;
    border: 1px solid rgb(211, 209, 209);
    border-radius: 10px;
    padding: 8px;
}
.service-container button{
    margin: 0px 10px;
    padding:4px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    background-color: rgb(160, 215, 252);
}